/* Fuente importada*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");



/* MOBILE */

/*Agrandar las secciones para que el ancla solo muestre una seccion */
article {
  min-height: 80vh;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Para que el scrolleo en la one page sea suave */
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  line-height: 1.2;
  /* mantiene centrado el formulario */
  justify-content: center;
  align-items: center;
}
/* Encabezado: ancho, alto, reset, color de fondo, todo en el centro,
 la sombra del encabezado y una padding para que se vea bonito */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  box-shadow: 1px 1px 7px #000;
  padding: 1em 0em;
  background-color:  #f8d6ee;
  display: flex;
  justify-content:space-between;
  align-items: center;
  
}

/* tiene los items del navegador en horizontal */
nav{

  align-items: center;
  display: flex;
  justify-content: right;
}

/* Para quitar los puntos a los items de listas y poner en horizontal el menu*/
ul {
  list-style: none;
  display: flex;

}
/* ancho del logo en em para que se vea bien en pc y cel y relleno*/
#logo {
  width: 10em;
  padding: 1vh;

}
/* los botones del menu cons sus margenes y fuentes*/
#botoninicio, #botoncontacto {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 22px;
}
/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
  text-decoration: none;
  color: inherit;
}
/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y 
el margin: auto; para tenerlo centrado f치cilmente*/
Body {
  background-color: #ffe7ff;
  color: #0f0f0f;
  font-size: 18px;
}
main{
  max-width: 1200px;
  text-align: center;
  margin: auto;
}
/* tama침o fuente h1 */
h1 {
  font-size: 36px;

}
/* tama침o fuente h2 */
h2 {
  font-size: 28px;
}
/* mi foto con ese em y px me se veia bien en pc y cel */
.miimagen {
  max-width: 100%;
  border-radius: 50%;
  padding: 0.5em;
  width: 400px;
}
/* los parrafos tienen su padding y margen */
p {
  padding: 10px 10px 30px 10px;
  margin: 20px 0px;
}
/* boton del CV: fondo, relleno, mas relleno hacia los lados que habia 
arriba y abajo, color de letras y tama침o de fuente */
#botoncv {
  background-color: #db1c94;
  padding: 1vh 2vh;
  border-radius: 25px;
  color: #fbfbfb;
  font-size: 20px;
}
/* caja seccion contacto donde esta el titulo y el parrafo: color, fondo, letra, 
borde redondeado, y para que se vea mejor centrado, no del ancho entero de la pag */
#contacto1 {
  background-color: rgba(255, 110, 168, 0.3);
  border-radius: 10px;
  margin: 20px 10px;
  padding-top: 20px;
}
/* al parrafo contacto le modifique un poco el padding para que se viera mejor*/
p#contacto {
  padding: 0px 20px 25px 20px;
}
/* las imagenes con links */
.mail, .github, .linkedin {
  margin: 1em 1em;
  width: 15%;
}
/* el pie de pagina: con su color, fondo, alto y centrado */
footer {
  background-color: #db1c94;
  color: #fbfbfb;
  height: 90px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}

p#textofooter, button#modooscuro{
  margin: 0px;
  padding: 0px;
}

/* el formato de la pagina de enviar el correo (formulario) hereda la mayoria 
pero queria que tuviera ademas el estilo de contacto */
.enviarcorreo {
  background-color: rgba(255, 110, 168, 0.3);
  border-radius: 10px;
  margin: 20px 10px;
  padding: 20px;
}

body.modooscuro{
  background-color: #0f0f0f;
  color: white;
  #contacto1 {
    background-color: #7c0061;
  }
  #footer{
    background-color: #7c0061;
  }
  #header{
    background-color: #7c0061;
  }
  .mail, .github, .linkedin {
    background-color:#900073;
    border-radius: 6px;
  }
  #logo {
    padding: 0vh;
    background-color: #dc1c94;
  }
}






/* DESKTOP */
/* DESKTOP */
/* DESKTOP */
/* DESKTOP */
/* DESKTOP */
/* DESKTOP */
/* DESKTOP */
/* DESKTOP */
/* DESKTOP */
/* DESKTOP */
/* DESKTOP */
/* DESKTOP */


@media (min-width: 1024px) {
#botoninicio, #botoncontacto {
padding: 20px;  
}

.abrir-menu{
  display: none;
}

#botoninicio:hover, #botoncontacto:hover, .active {
  background-color: rgba(255, 110, 168, 0.15);
  padding: 20px;
}
h1{
  font-size: 48px;
  text-align: left;
  padding-left: 0.2em;
}

h2{
  font-size: 32px;
}
article#todoelinicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.miimagen {
  max-width: 400px;
  width: 3000px;
}
p#inicioparrafo, div.parte2 {
  padding: 0px 10px 10px 10px;
  margin: 20px 0px;
  text-align: left;
}

#contacto1 {
  margin: 20px 220px;
}
#botoncv:hover {
  color:#e1e4d1;
  text-decoration: underline;
  border-color: #e1e4d1;
  border-style:groove
}

article {
  min-height:70vh;
}
.mail, .github, .linkedin {
  width: 70px;
  margin: 40px;
}
.mail:hover, .github:hover, .linkedin:hover, #logo:hover{
  opacity: 0.6;
}
#tituloformulario{
  text-align: center;
}
.enviarcorreo {
  background-color: rgba(255, 110, 168, 0.3);
  border-radius: 10px;
  margin: 20px 40px;
  padding: 40px 80px;
}
}